%dark-button {
  background: #222222;
  border-radius: 5px;
  color: white;
  margin: auto;
  padding: 10px 15px;
  text-decoration: none;
}
%dark-button-left {
    background: #222222;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
  }
  