.EdgeListing {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  margin: 0 auto 30px;
  max-width: 1000px;
  padding: 0 40px;
  .EdgeItem {
    background: rgb(40, 40, 40);
    border: 1px solid rgb(40, 40, 40);
    color: white;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    article {
      overflow: hidden;
      position: relative;
      padding-bottom: 20px;
      .float-image{
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 320px;
        animation: revert;
      }
      .title {
        margin: auto;
        max-width: 200px;
        overflow: hidden;
        text-decoration: none;
        @extend %dark-button-left;
      }
    }

    &.design {
    }
    &:hover{
      article{
        .float-image{
          animation: MoveUpDown 5s linear infinite;
        }
      }
    }
  }
}
@keyframes MoveUpDown {
  0% {
      top: 320px;
  }
  50% { 
      top: -100px;
  }
}
@media (max-width: 1000px) {
  .EdgeListing {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(1, auto);
    max-width: 560px;
    .EdgeItem{
      &:hover{
        article{
          .float-image{
            display: none;
          }
        }
      }
    }
  }
}
