.HomeAbout {
  margin: auto;
  margin-bottom: 50px;
  max-width: 800px;
  h2 {
    text-align: center;
  }
  .content-container {
    display: flex;
    flex-direction: row;
    .left {
      width: 66%;
    }
    .right {
      align-items: center;
      color: orangered;
      display: flex;
      font-size: 14rem;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
  .about-link-container {
    text-align: center;
    .about-link {
      @extend %dark-button;
    }
  }
}
