.HomeAbout{
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
    h2{
        text-align: center;
    }
    .content-container{
        display: flex;
        flex-direction: row;
        .left{
            width: 66%;
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 14rem;
            color: orangered;
        }
    }  
    .about-link-container{
        text-align: center;
        .about-link{
            @extend %dark-button        
        }
    }
    
}