#layout{
  h2{
    color: white;
  }
}

#header-container {
  margin: auto;
  width: 100%;
  @extend %flex-row;
  @extend %flex-space-between;  
}
#header {
  background: white;
  box-shadow: 2px 0px 5px gainsboro;
  left: 0;
  margin: auto;
  padding: 0 50px;
  top: 0;
  width: 100%;
  z-index: 999;
}

#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: 0 50px;
  width: 100%;
}

#logo a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
