.PostNavigation {
  background: #232323;
  color: white;
  display: block;
  margin-top: 20px;
  max-width: 100%;
  padding: 20px 20px;
  i,
  a {
    color: white;
  }
  .container {
    @extend %flex-space-between;
    @extend %flex-row;
    .container-link {
      min-width: 200px;
      text-align: center;
      .previous-text {
        margin-left: 10px;
      }
      .next-text {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 600px) {
  .PostNavigation {
    .container {
      justify-content: center;
    }
  }
}
